.tablero {
    background-color: blue;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: white;
    font-weight: bold;
    float: left;
    margin: 5px;

    /*justify-content: space-between;*/
}
#formulario {
    display: none;
}

.contenedor {
    overflow: hidden;
}
